<!-- {{string_var}}
{{number_var}}
{{boolean_in_online}}

<br>

{{user.name}}
{{user.salary}}
{{user.city}}

<br>

{{user_list[0]}}
{{user_list[1]}}
{{user_list[2]}}

<br>
<h1>User List</h1>
<div *ngFor="let user of user_list">
    - {{user}}
</div>

<br>
<h1>Product List</h1>
<div *ngFor="let product of products">
    <app-post [data]="product"></app-post>
</div> -->


<!-- <div>
    <button (click)="dec()" title="smaller">-</button>
    <button (click)="inc()" title="bigger">+</button>
    <label [style.font-size.px]="size">FontSize: {{size}}px</label>
  </div>

  <img src="./../assets/images/61s7sJEpsVL._SY450_.jpg"/> -->


<!-- <div [ngClass]="{'my_class': step === 'step1'}">
    Hello.!
</div> -->

<!-- <input type="text" [(ngModel)]="username">
<p *ngIf="username.length < 4">
    Please enter minimum 4 chars
</p>
<button (click)="getValue()">Get the value</button> -->



<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <div>
      <label>
        Name:
        <input formControlName="name" placeholder="Your name">
      </label>
    </div>

    Dirty: {{myForm.controls.name.dirty}} <br>
    Touched: {{myForm.controls.name.touched}}


    <div *ngIf="myForm.controls.name.invalid && (myForm.controls.name.dirty || myForm.controls.name.touched)" class="alert-danger">

        <div *ngIf="myForm.controls.name.errors?.required">
            Name is required.
        </div>
        <div *ngIf="myForm.controls.name.errors?.minlength">
            Name must be at least 4 characters long.
        </div>
    </div>


    <div>
      <label>
        Email:
        <input formControlName="email" placeholder="Your email">
      </label>
    </div>
    <div>
      <label>
        Message:
        <input formControlName="message" placeholder="Your message">
      </label>
    </div>
    <button type="submit">Send</button>
  </form>