<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.infrasoft.volumn" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>infrasoft_cordova</name><js-module name="infrasoft_cordova" src="www/infrasoft_cordova.js"><clobbers target="cordova.plugins.infrasoft_cordova" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="infrasoft_cordova"><param name="android-package" value="cordova.infrasoft.volumn.infrasoft_cordova" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/infrasoft_cordova.java" target-dir="src/cordova.infrasoft.volumn/infrasoft_cordova" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="infrasoft_cordova"><param name="ios-package" value="infrasoft_cordova" /></feature></config-file><source-file src="src/ios/infrasoft_cordova.m" /></platform></plugin>