<!-- {{userList | json}} -->

<div *ngFor="let user of userList">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <h4>{{user.email}}</h4>
    <img [src]="user.avatar"/>
    <button (click)="saveInLs(user)">Save in LS</button>
    <button (click)="readFromLs(user.first_name)">Read from LS</button>
    <button (click)="removeFromLs(user.first_name)">Remove from lst</button>
    <br>
    <a routerLink="/user-details/{{user.id}}">View Profile</a>
    <hr>
</div>

<button (click)="clearLs()">Clear All</button>
